<%- layout("/layouts/boilerplate.ejs") %>
<section class="index-section-1">
    <div class="index-nav">
        <h4>Your Progress Summary</h4>
    </div>
</section>

<section class="index-section-2">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">IELTS</a></li>
          <li class="page-item"><a class="page-link" href="#">PTE</a></li>
          <li class="page-item"><a class="page-link" href="#">TOEFL</a></li>
        </ul>
      </nav>
</section>

<section class="index-section-3">
    <div class="index-graph">
        <h4><span>Wow!</span> you're about to reach your targeted band</h4>
        <!-- Chart 1 - Bootstrap Brain Component -->
<section class="graph-container">
      <div class="row justify-content-center">
        <div class="col-6 col-lg-6 col-xl-10">
          <div class="card widget-card border-light shadow-sm">
            <div class="card-body">
              <div id="bsb-chart-1"></div>
            </div>
          </div>
        </div>
      </div>
  </section>
    </div>
    <div class="share-img">
        <h2>One Share can save many lives</h2>
        <span>Your one share can unlock a world of education for unprivileged.</span>
        <button>Share App</button>
    </div>
</section>

<section class="index-section-4">
    <div class="prepare-case">
        <div class="prepare-boxes">
            <div class="box-container-1">
            <div class="box-container">
                <img width="100px" height="100px" src="/img/doctor.png" alt="">
            </div>
            <div class="box-container">
                <img width="100px" height="100px" src="/img/eavesdropping.png" alt="">
            </div>
            <div class="box-container">
                <img width="100px" height="100px" src="/img/reading.png" alt="">
            </div>
            <div class="box-container">
                <img width="100px" height="100px" src="/img/writing.png" alt="">
            </div>
        </div>
        <div class="box-container-2">
            <div class="box-container">
                <img width="100px" height="100px" src="/img/dictionary.png" alt="">
            </div>
            <div class="box-container">
                <img width="100px" height="100px" src="/img/presentation.png" alt="">
            </div>
            <div class="box-container">
                <img width="100px" height="100px" src="/img/book.png" alt="">
            </div>
            <div class="box-container">
                <img width="100px" height="100px" src="/img/open-book.png" alt="">
            </div>
        </div>
        </div>
    </div>
    <div class="right-bottom-box">
    <div class="notice">
        <span><i class="fa-brands fa-youtube"></i>App Guide Video</span>
    </div>
    <div class="mock-test">
        <h2>Practice Mock Tests</h2>
        <p>Get the authentic IELTS exam experiece with all four modules covered!</p>
        <button>Start</button>
    </div>
</div>
</section>